<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353424359272-d639q67v46odsapp8t0i8ont45a6u91j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353424359272-d639q67v46odsapp8t0i8ont45a6u91j</string>
	<key>API_KEY</key>
	<string>AIzaSyDiVdhlagCFGl5aF49siPaQba6IEqOJjNU</string>
	<key>GCM_SENDER_ID</key>
	<string>353424359272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>softrestart.AstroApp</string>
	<key>PROJECT_ID</key>
	<string>astal-sage</string>
	<key>STORAGE_BUCKET</key>
	<string>astal-sage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353424359272:ios:6a04bed102a8a7812d60dd</string>
</dict>
</plist>